---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Application">
	<div class="flex flex-col">
		<section class="p-2">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium reiciendis dolor veniam
			quod est. Accusamus dolorem sapiente, corrupti nemo ab ipsum rem molestiae deleniti voluptas?
			Quos ducimus nostrum cupiditate corporis.
		</section>
		<section class="p-2">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium reiciendis dolor veniam
			quod est. Accusamus dolorem sapiente, corrupti nemo ab ipsum rem molestiae deleniti voluptas?
			Quos ducimus nostrum cupiditate corporis.
		</section>
		<section class="p-2">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium reiciendis dolor veniam
			quod est. Accusamus dolorem sapiente, corrupti nemo ab ipsum rem molestiae deleniti voluptas?
			Quos ducimus nostrum cupiditate corporis.
		</section>
		<section class="p-2">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium reiciendis dolor veniam
			quod est. Accusamus dolorem sapiente, corrupti nemo ab ipsum rem molestiae deleniti voluptas?
			Quos ducimus nostrum cupiditate corporis.
		</section>
	</div>
</Layout>
